<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetcityAnnunciator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BetcityAnnunciator.Properties.Settings>
            <setting name="UpdateInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RequeredGreenScore" serializeAs="String">
                <value>5:0;0:5</value>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>Теннис</value>
            </setting>
            <setting name="RequeredYellowScore" serializeAs="String">
                <value />
            </setting>
            <setting name="RequeredGrayScore" serializeAs="String">
                <value />
            </setting>
            <setting name="EnabledGreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledYellow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledGray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledSorting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>5</value>
            </setting>
        </BetcityAnnunciator.Properties.Settings>
    </userSettings>
</configuration>